@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-white;
  }
}

@layer components {
  .skeleton {
    @apply animate-pulse bg-gray-800 rounded;
  }
}

